.container{
    text-align: center;   
}

.calculator{
    background: hsl(56.44deg 79.11% 63.62%);
    width: 360px;
    height: 525px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 15px #fffde79e, 2px -1px 15px #fff8e100
}
.display-screen{
    justify-items: center;
    margin: auto;
    height: 70px;
    width: 330px;
    background-color: #ffff; 
}
#display{
    display: flex;
    justify-content: flex-end;
    font-size: 51px;
    font-family:'Times New Roman', Times, serif;
    
}
table{
    margin: auto;
    border: 20px;
    padding: 20px;
    border-radius: 50px;

}

.btn-operator{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -6px -2px 15px #c2584c42,-1px 5px 15px #4adcefd4 ;
     background-color: #3319c2;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    font-family: cursive;
}

.btn-number{
    color: rgb(11, 186, 22);
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -6px -2px 15px  #fffde71c,-1px 5px 15px #74a876;;
    background-color: #5ae0da;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    font-family: cursive;
}
.btn-equal{
    border: 0;
    outline: 0;
    width: 60px;
    height: 140px;
    box-shadow: -6px -2px 15px rgba(37, 203, 43, 0.1),-1px 5px 15px #0e7e18 ;
    background: #e52020;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    border-radius: 20px;
    font-family: cursive;
}

.footer{
    text-align: center;
    font-family: cursive;
    font-size: 23px;
}

body {
    height: 100%;
    /* background-image: linear-gradient( to bottom right, rgb(51, 163, 176),#880e0e); */
}

h1{
    font-family: cursive;
}
a[href = 'https://www.linkedin.com/in/vatan-mishra-1961b61a4/']{
    color: rgb(1, 1, 1);
}

